body{
  margin:0;
  font-family:sans-serif;
  background:#0f0f0f;
  color:#fff;
}

.app{
  padding:15px;
}

.card{
  background:#1a1a1a;
  padding:10px;
  margin-bottom:10px;
  border-radius:10px;
}

textarea,input{
  width:100%;
  margin:8px 0;
  padding:10px;
  border-radius:10px;
  border:none;
}

button{
  width:100%;
  padding:12px;
  border:none;
  border-radius:10px;
  background:#00ffa6;
  font-weight:bold;
}

label{
  display:flex;
  gap:10px;
}
